/*Nav Bar*/

nav {
	background-color: #1c2024;
	position: sticky;
	top: 0;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

nav input {
	display: none;
}

nav label{
	color: white;
	font-size: 1.75rem;
	cursor: pointer;
	display: none;
}

nav a {
	font-size: 1.75rem;
	color: white;
	text-decoration: none;
}

nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li a {
	margin-right: 20px;
	font-size: 1.1rem;
	transition: color 0.3s;
}

nav a:hover {
	color: white;
}

nav ul li a:hover {
	color: purple;
}



/*Header*/

header {
	background-color: #282828;
	text-align: center;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

header h1 {
	color: white;
	font-size: 3.5rem;
	font-weight: 650;
	margin-bottom: 0;
}

header p {
	color: grey;
	font-size: 1.25rem;
	font-weight: 400;
}




/*Cards*/
.cards > h1 {
	padding: 2rem 2rem 0rem;
	color: white;
	text-decoration: underline;
}

ul {
	padding: 0;
}

.cards > ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-column-gap: 1.5rem;
	grid-row-gap: 1.5rem;
	list-style: none;
	padding: 0 2rem;
}


.card {
	background-color: #282828;
	border-radius: 0.5rem 0.5rem 0 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card a::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.story {
	color: white;
	background-color: #282828;
	padding: 0.7rem 1.2rem;
	position: absolute;
	margin-top: 0;
	left: 0;
	font-weight: bold;
	border-radius: 0.5rem 0;
	text-transform: uppercase;
}

.card img {
	object-fit: cover;
	height: 25rem;
	width: 100%;
	border-radius: 0.5rem 0.5rem 0 0;
}

.card a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 1rem 10px 0;
}

.card p:not(.story) {
	color:white;
	margin-top: 20px;
	padding: 0 10px;
}



@media (max-width: 1000px) {
	nav label {
		display: block;
		order: 1;
	}

	nav ul {
		position: fixed;
		top: 60px;
		right: -100%;
		background-color: purple;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
	}
	
	nav ul li {
		margin: 20px;
	}

	#menu:checked ~ ul {
		right: 0;
	}
}

body, html {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
	font-family: Ariel, sans-serif;
	background-color: #121212;
}
